<div class="container-header__menu d-flex flex-row d-none">
    <div class="row col-12 p-3">
        <div class="col-2 d-flex align-items-center justify-content-center">
            <a href="{% url 'dashboard' %}" class="btn">
                <i class="fas fa-tachometer-alt"></i>&nbsp Dashboard
            </a>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
            <a href="{% url 'graphics' %}" class="btn">
                <i class="fas fa-chart-pie"></i>&nbsp Gráficos
            </a>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
            <a href="{% url 'products' %}" class="btn">
                <i class="fas fa-chart-pie"></i>&nbsp Productos
            </a>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
            <a href="{% url 'sales' %}" class="btn">
                <i class="fas fa-chart-pie"></i>&nbsp Ventas
            </a>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
            <a href="{% url 'clients' %}" class="btn">
                <i class="fas fa-chart-pie"></i>&nbsp Clientes
            </a>
        </div>
        <div class="col-md-2 d-flex align-items-center justify-content-center">
        <a href="/admin" class="btn">
            <i class="fas fa-chart-pie"></i>&nbsp Admin
        </a>
    </div>
    </div>
 </div>