{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <title>PetCare</title>
        <meta name=”robots” content=”noindex” charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logos/Cat4.png' %}">
        <!-- Stylesheets -->
        <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/effects.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
    </head>
</head>

<body>

    <div class="container-fluid no-p h-100-vh bg-grey">
        <div class="w-100 d-flex flex-row h-100-vh">
            <div class="col-12 col-md-8 col-lg-8 d-flex p-0 brl-50 flex-column" style="background: white;">
                <div class="w-100 p-3 ml-0">
                    <a href="{% url 'shop' %}"><i class="fas fa-arrow-left"></i> Regresar</a>
                </div>
                <div class="w-100 d-flex align-items-center justify-content-center flex-column">
                    <h2>{{ product.name }}</h2>
                    {% if product.img_product %}
                    <img src="{{ product.img_product.url}}" alt="">
                    {% else %}
                    <img src="" alt="">
                    {% endif %}
                </div>
            </div>
            <div class="container-fluid col-12 col-md-4 col-lg-4 d-flex pr-0 pl-0 flex-column pt-3 h-100-vh">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <img class="medium-logo" src="{% static 'img/logos/Cat.png' %}" alt="">
                </div>
                <div class="w-100 d-flex align-items-center mt-4 flex-column">
                    <h2>Confirma tu compra</h2>
                    <div class="container-text align-items-center justify-content-center">

                        <!-- ID DEL PRODUCTO -->
                        <input type="button" value="3232" id="id" hidden>
                        <!-- NOMBRE DEL PRODUCTO -->
                        <b class="text-uppercase font-weight-bold">{{ product.name }}</b>
                    </div>
                    <div class="container-text">
                        <!-- PROVEEDOR DEL PRODUCTO -->
                        <span>Descripción:</span><b>{{ product.description }}</b>
                    </div>
                    <div class="container-text">
                        <!-- PRECIO DEL PRODUCTO -->
                        <span>Precio:</span><b>$ {{ product.price }}</b>
                    </div>
                    <div class="container-text d-flex bd-highlight pr-4">
                        <!-- CANTIDAD DEL PRODUCTO -->
                        <span class="mr-auto bd-highlight">Cantidad:</span>
                        <input type="button" value="-" id="menos">
                        <input type="button" class="btn mr-3 ml-3" style="font-size: 1.4rem;" id="cantidad" value="1"
                            id="cantidad" disabled>
                        <input type="button" value="+" id="mas">
                    </div>
                    <div class="container-text flex-column align-items-start" style="background: none;">
                        Selecciona un método de pago:
                        <!-- MÉTODO DE PAGO -->
                        <div class="d-flex w-100 flex-row align-items-center justify-content-center mt-2">
                            <div class="container-medium mr-3">
                                <button><i class="far fa-money-bill-alt"></i> Efectivo</button>
                            </div>
                            <div class="container-medium">
                                <button><i class="fas fa-coins"></i> Puntos</button>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 pl-4 pr-4">
                        <input type="button" class="w-100 btn-p1" id="comp" value="Continuar">
                    </div>


                </div>
            </div>
        </div>
    </div>


    <script>
        localStorage.setItem('user', 123);
        var cant = document.getElementById('cantidad').value;
        var cont = document.getElementById('cantidad');
        document.getElementById('mas').addEventListener("click", function () {
            cant = parseInt(cant);
            cant = cant + 1;
            cont.value = cant;
        });

        document.getElementById('menos').addEventListener("click", function () {
            cant = parseInt(cant);
            cant = cant - 1;
            if (cant <= 0) {
                cant = 1;
                cont.value = 1;
            } else {
                cont.value = cant;
            }
        });

        var arrayPurchase = [];
        document.getElementById('comp').addEventListener("click", function () {
            var histPurchase = localStorage.getItem("purchase");




            let user = getUser();
            let product = document.getElementById('id').value;
            let cantidad = document.getElementById('cantidad').value;
            let buyProduct = {
                id: user,
                product: product,
                quantity: cantidad
            }

            if (histPurchase == null) {
                arrayPurchase.push(buyProduct);
            } else {
                arrayPurchase = JSON.parse(histPurchase);
                arrayPurchase.push(buyProduct);
            }
            // console.log(arrayPurchase);


            localStorage.setItem('purchase', JSON.stringify(arrayPurchase));

        });
        var getUser = function () {
            let res = localStorage.getItem('user');
            return res
        }
    </script>

    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/headroom.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.min.js' %}"></script>
    <script src="{% static 'js/main.min.js' %}"></script>
    <!-- Preloader & Principal Page -->
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
        integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/pathLoader.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script src="{% static 'js/preloader.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>