{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>PetCare</title>
    <meta name=”robots” content=”noindex” charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logos/Cat1.png' %}">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

<!-- 
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/effects.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
     -->
</head>
<body class="footer-blue">
    
<!-- Header -->
<header id="header" class="header-dynamic header-shadow-scroll">
    <div class="container">
        <a class="logo" href="index-2.html">
            <img src="{% static 'img/logos/petcare-white.png' %}" alt="" style="height: 34px;">
        </a>
        <nav>
            <ul class="nav-primary">
                <li>
                    <a href="{% url 'index' %}">INICIO</a>
                </li>
                <li>
                    <a href="#">CATEGORÍAS</a>
                </li>
                <li>
                    <a href="#">NOSOTROS</a>
                </li>
                <li>
                    <a href="{% url 'shop' %}">Tienda</a>
                </li>
                <li>
                    <a class="button button-secondary" href="#">
                        INICIAR SESIÓN
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

    <section id="content">
        <div class="container-fluid" style="margin-top: 9.5rem;">
            <div class="col-12">
                <div class="container-promo">
                    <div class="content-promo">
                        <img src="https://i.imgur.com/L9HgIwa.png'" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer-white">
        <div class="container-fluid p-5">
            <div class="row">
                <div class="col-12 mb-5">
                    <h5 class="btn footer-ligth__blue font-weight-bold text-white">ALIMENTO</h5>
                </div>
                <div class="d-flex flex-wrap">
                    <!-- PRODUCTS -->
                    {% for product in products %}
                    <div class="col-12 col-xs-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center justify-content-center mb-5">
                        <div class="container-card">
                            <div class="head-card">
                                {% if product.img_product %}
                                <img src="{{ product.img_product.url}}" alt="">
                                {% else %}
                                <img src="" alt="">
                                {% endif %}
                            </div>
                            <div class="body-card">
                                <span>{{ product.name }}</span>
                                <p>{{ product.description }}</p>
                                <p class="text-primary text-bold">${{ product.price }} MXN</p>
                                <p><button class="btn btn-primary"><i class="fas fa-shopping-cart mr-1"></i>Comprar</button></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- <div class="col-12 col-xs-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center justify-content-center mb-5">
                        <div class="container-card">
                            <div class="head-card">
                                <img src="https://cdn.shopify.com/s/files/1/0079/9647/3441/products/New_Bag_Front_1024x1024_png_1_1024x.png" alt="">
                            </div>
                            <div class="body-card">
                                <span>HILL'S SCIENCE DIET - Gato Senior</span>
                                <p>Hill's Science Diet</p>
                                <p class="text-primary text-bold">$850.00 MXN</p>
                                <p><button class="btn btn-primary"><i class="fas fa-shopping-cart mr-1"></i>Comprar</button></p>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="col-12 col-xs-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center justify-content-center mb-5">
                        <div class="container-card">
                            <div class="head-card">
                                <img src="https://cdn.shopify.com/s/files/1/0079/9647/3441/products/New_Bag_Front_1024x1024_png_1_1024x.png" alt="">
                            </div>
                            <div class="body-card">
                                <span>HILL'S SCIENCE DIET - Gato Senior</span>
                                <p>Hill's Science Diet</p>
                                <p class="text-primary text-bold">$850.00 MXN</p>
                                <p><button class="btn btn-primary"><i class="fas fa-shopping-cart mr-1"></i>Comprar</button></p>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="col-12 col-xs-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center justify-content-center mb-5">
                        <div class="container-card">
                            <div class="head-card">
                                <img src="https://cdn.shopify.com/s/files/1/0079/9647/3441/products/New_Bag_Front_1024x1024_png_1_1024x.png" alt="">
                            </div>
                            <div class="body-card">
                                <span>HILL'S SCIENCE DIET - Gato Senior</span>
                                <p>Hill's Science Diet</p>
                                <p class="text-primary text-bold">$850.00 MXN</p>
                                <p><button class="btn btn-primary"><i class="fas fa-shopping-cart mr-1"></i>Comprar</button></p>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="col-12 col-xs-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center justify-content-center mb-5">
                        <div class="container-card">
                            <div class="head-card">
                                <img src="https://cdn.shopify.com/s/files/1/0079/9647/3441/products/New_Bag_Front_1024x1024_png_1_1024x.png" alt="">
                            </div>
                            <div class="body-card">
                                <span>HILL'S SCIENCE DIET - Gato Senior</span>
                                <p>Hill's Science Diet</p>
                                <p class="text-primary text-bold">$850.00 MXN</p>
                                <p><button class="btn btn-primary"><i class="fas fa-shopping-cart mr-1"></i>Comprar</button></p>
                            </div>
                        </div>
                    </div> -->


                </div>
            </div>
        </div>
    </section>

    		<!-- Footer -->
		<footer class="footer-dark" id="footer">
			<section class="footer-secondary">
				<div class="container">
					<p>
						&copy; PetCare 2020 - All Rights Reserved.
					</p>
				</div>
			</section>
		</footer>

    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
        integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
        crossorigin="anonymous"></script>
         

        <script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/headroom.min.js' %}"></script>
		<script src="{% static 'js/main.min.js' %}"></script>
</body>
</html>