{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead  %}
<link rel="shortcut icon" type="image/png" href="{% static 'img/logos/Cat3.png' %}">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
        integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
        crossorigin="anonymous"></script>

        <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}Petcare{% endblock %}

{% block branding %}
<div class="row col-12 pb-0 p-2 pl-3">
    <div class="col-4 d-xs-none d-md-block d-flex align-items-center pt-4px">
        PetCare - CRM
    </div>
    <div class="col-4 col-xs-12 d-flex justify-content-center">
         <img class="mini-logo" src="{% static 'img/logos/Cat.png' %}" alt="">
    </div>
    <div class="col-4 d-flex justify-content-end d-flex align-items-center">
        <img class="profile-picture" src="https://i.imgur.com/Qv8PA8G.png" alt="Profile">
     
     {{ request.user }}
    </div>
</div>
{% endblock %}


{% block nav-global %}
<header>
    {% include 'base/base_menu.html' %}
</header>

{% endblock %}

{% block content%}
{% endblock %}