{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead  %}
<link rel="shortcut icon" type="image/png" href="{% static 'img/logos/Cat3.png' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/core.css' %}">

        
{% endblock %}

{% block title %}Petcare{% endblock %}

{% block branding %}
<img class="" src="{% static 'img/logos/Cat-logo.png' %}" alt="" style="height: 75px;">
{% endblock %}

{% block nav-global %}


{% endblock %}