<nav>
    <ul class="nav-primary">
        <li>
            <a href="{% url 'index' %}">Nosotros</a>
        </li>
        <li>
            <a href="{% url 'services' %}">Servicios</a>
        </li>
        <li>
            <a href="{% url 'shop' %}">Productos</a>
        </li>
        <li>
            <a href="">Mi carrito</a>
        </li>
        
        <li>
            <a class="button button-secondary" href="{% url 'customer_login' %}">
                INICIAR SESIÓN
            </a>
        </li>
    </ul>
</nav>